body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

ul {
    color: #e5e7eb;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

/*li {
    font-size: 18px;
}*/

a {
    text-decoration: none;
    color:#f9faf8;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin: 24px;

}
p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 24px;
}

/*Section 1: Hero*/
.hero {
    background-color: #556052;
    padding: 18px 50px;
}

/*Header (top bar)*/
.header {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    gap: 26px;
    margin-bottom: 60px;
}

.logo {
    font-size: 24px;
    margin-left: 24px;
}

.logo, .links {
    display: flex;
    align-items: center;
    gap: 16px;
}

/*Headline (Big band)*/
.headline {
    display: flex;
    align-items: space-evenly;
    padding-bottom: 60px;
    gap: 16px;
}

.button {
    margin: 24px;
}

button {
    background-color: #AF6B58;
    padding: 8px 24px;
    border-radius: 8px;
    border-style: none;
    color: #f9faf8;
    font-weight: 600;
}

.image {
    width: 600px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*Section 2: Info*/

.info{
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title {
    color: #556052;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 24px;
    
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 52px;
}

.infobox{
    max-width: 150px; 
}

.box {
    border-style: solid;
    border-width: 3px;
    border-color: #AF6B58;
    border-radius: 15px;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.text{
    color: #556052;
    text-align: center;
    
}

/*Section 3*/
.quote {
    background-color: #e5e7eb;
    padding: 60px 50px 60px;
    
}

.bigtext{
    color: #556052;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-bottom: 12px;
    
}

.smalltext {
    color: #556052;
    font-size: 16px;
    font-weight: 500;
    text-align: end;
    size: auto;
    margin-right: 20%;
}

/*Section 4*/

.cta {
    background-color: #f9faf8;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
}

.modal {
    background-color: #AF6B58;
    width: 80%;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.modtitle {
    color: #f9faf8;
    font-weight: 600;
    font-size: 20px;
}

.modtext {
    color: #e5e7eb;
    font-size: 16px;
}

#cta {
    margin: 8px 24px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #f9faf8;
    
}

/*Footer*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #556052;
    margin-top: auto;
}
